body {
  font-family: sans-serif;
  background: #f7f7f7;
  padding: 20px;
  text-align: center;
}

.input-section,
.search-section {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  width: 60%;
  max-width: 400px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.delete-btn {
  background-color: #ff6961;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
